* {
  font-family: "Press Start 2P", cursive;
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
  background-position: center;
  background-size: cover;
  background-image: url("cppimgFile/bg.webp");
  overflow: auto;
  background-color: #7dad71 !important;
}

#main {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
#image {
  margin: 3em auto 0 auto;
}
/* Desktop Navbar */
.menu {
  margin: 1.5em;
}
.menu ul {
  margin-bottom: 2em;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: row;
}
.menu li {
  margin: 1.3em;
  list-style: none;
}
.btn {
  padding: 0.8em 1.5em !important;
  box-shadow: 0.4em 0.4em 0.4em rgba(128, 128, 128, 0.623);
}
.btn:hover {
  box-shadow: none;
  transform: translate3d(0, 8px, -5px);
}

/* About Us */
#index-jumbotron {
  background-color: #f8dc81 !important;
  background-position: center bottom;
  background-size: cover;
  width: 80%;
  border-radius: 2em !important;
  margin: auto;
  display: flex;
}
.title {
  color: #a81d4d;
  font-size: 2.2em;
}
#p-text {
  color: #214151;
}

/* Creators */
#ac {
  margin: 1em;
  text-align: center;
}
#about {
  margin: 1em;
  display: flex;
  justify-content: center;
}

#about .card {
  cursor: pointer;
  width: 16em;
  height: 16em;
  margin: 2em;
  background: #fff;
  border-radius: 0.4em;
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.2);
}

#about .card::before,
#about .card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  background: #fff;
  border-radius: 0.4em;
  z-index: -1;
}
#about .card:hover::before {
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.2);
  transform: rotate(20deg);
}

#about .card:hover::after {
  box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.2);
  transform: rotate(10deg);
}

.imgBx {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  bottom: 0.5em;
  right: 0.5em;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}

.card:hover .imgBx {
  bottom: 4.5em;
}
.imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details {
  margin-top: 11em;
  text-align: center;
}

.details h2 {
  margin-top: 1em;
  font-size: 0.88em;
  color: #777;
  text-transform: uppercase;
}

.details span {
  color: #f38695;
  display: block;
  margin-top: 0.4em;
}

.btn-lg {
  font-size: 1.1em !important;
}

/* Mobile NavBar */
.mobile-disp {
  margin: 20px;
  display: none;
}
.mobile-disp .fa {
  width: 100%;
  text-align: center;
}

.mobile-disp ul {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.mobile-disp ul li {
  list-style-type: none;
  margin: 10px auto;
}
#nav-btn {
  width: 60%;
  margin: auto;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
#mob-nav {
  display: none;
}

.mobile-disp .btn {
  text-transform: uppercase;
  width: 178px;
  height: 50px;
  text-align: center;
  box-shadow: 8px 8px 8px grey;
  font-size: 15px;
}
.mobile-disp > .btn:hover {
  box-shadow: none;
  transform: translate3d(0, 5px, -5px);
}

/* Games */
#games {
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5em;
}
#games .card {
  padding: 0.5em;
  margin: 1em;
}
#games .card-text {
  font-size: 1.5em;
}
#games .card-title {
  color: #fd5e53;
}

@media only screen and (max-width: 870px) {
  body {
    font-size: 8.5px;
  }
  #about {
    flex-flow: column;
    align-items: center;
  }
}

@media only screen and (max-width: 755px) {
  body {
    font-size: 8px;
  }
  #image {
    width: 250px;
  }
  .menu {
    display: none;
  }
  .mobile-disp,
  #index-jumbotron {
    justify-content: center;
    display: flex;
    flex-flow: column;
  }
  #about {
    flex-flow: column;
    align-items: center;
  }
}

@media only screen and (max-width: 575px) {
  .title {
    font-size: 1.9em;
  }
}

@media only screen and (max-width: 465px) {
  body {
    font-size: 7px;
  }
  #image {
    width: 250px;
  }
  .title {
    font-size: 1.5em;
  }
  .btn-lg {
    font-size: 0.9em !important;
  }
  #index-jumbotron {
    width: 90%;
  }
  .menu {
    display: none;
  }
  .mobile-disp,
  #index-jumbotron {
    justify-content: center;
    display: flex;
    flex-flow: column;
  }
  #about {
    flex-flow: column;
    align-items: center;
  }
}